@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
}


.container
{
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
}
.container .box
{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.container .box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    transform: skew(2deg,2deg);
    z-index: -1;
}

.container .box:nth-child(1)::before
{
    background: linear-gradient(315deg,#ff0057,#e64a19);
}
.container .box:nth-child(2)::before
{
    background: linear-gradient(315deg,#89ff00,#00bcd4);
}
.container .box:nth-child(3)::before
{
    background: linear-gradient(315deg,#e91e63,#5d02ff);
}
.container .box:nth-child(4)::before
{
    background: linear-gradient(315deg,#ff0000,#ffc107);
}

.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255, 255, 0.05);
    pointer-events: none;
}
.content
{
    position: relative;
    padding: 20px;
    transform: translateY(40px);
    text-shadow: 2px 2px 4px #000000;
}

.box .content h2
{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255,255,255,0.05);
    transition: 0.5s;
}

.box:hover .content h2
{
    top: -140px;
}

.box .content h3
{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.box .content p
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

.box .content a
{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.box:hover .content a
{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.box .content a:hover
{
    color: #000;
    background: #fff;
}
a 
{
	position: relative;
	background: #444;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 10px 30px;
	transition: 0.5s;
}
a:hover 
{
	letter-spacing: 0.25em;
	background: var(--clr);
	color: var(--clr);
	box-shadow: 0 0 35px var(--clr);
}
a::before 
{
	content: '';
	position: absolute;
	inset: 2px;
	background: #27282c;
}
a span 
{
	position: relative;
	z-index: 1;
}
a i 
{
	position: absolute;
	inset: 0;
	display: block;
}
a i::before 
{
	content: '';
	position: absolute;
	top: -6px;
	left: 100%;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	background: #27282c;
	border: 2px solid var(--clr);
	transition: 0.5s;
}
a:hover i::before 
{
	left: 0%;
	transform: translateX(-50%) rotate(45deg);
	box-shadow: 40px 39px var(--clr);
}


a i::after 
{
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	transform: translateX(-50%);
	width: 10px;
	height: 10px;
	background: #27282c;
	border: 2px solid var(--clr);
	transition: 0.5s;
}
a:hover i::after 
{
	left: 100%;
	transform: translateX(-50%) rotate(-45deg);
	box-shadow: 38px -39px var(--clr);
}
h1
{
    color: whitesmoke;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #161623;
    min-height: 100vh;
  }
  
  section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#f00, #f0f); */
    /* clip-path: circle(30% at right 70%); */
  }
  
  section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%); */
  }
  
  .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
    
  }
  
  .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .container .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.5;
    transition: 0.5s;
  }
  
  .container .card:hover .content {
    opacity: 1;
  }
  
  .container .card .content .imgBox {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
  }
  
  .container .card .content .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container .card .content .contentBox h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
  }
  
  .container .card .content .contentBox h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
