{% extends 'base/baas.html'%}

{% load static %}


{% block content %}
  


    <h1>The Website Is Under Construction</h1>

    <div class="container text-center">
        <!-- <div class="row">
            <div class="main-container">
                <div class="card" style="width: 18rem;">
                        <div class="greeting-wrapper">
                            <h1>Hi I'm Dhaval</h1>
                        </div>
                </div>
            </div>
            <a href="#" style="--clr:#1e9bff"><span>Blue</span><i></i></a>
            <a href="#" style="--clr:#f2d8e1"><span>White</span><i></i></a>
            <!-- <a href="#" style="--clr:#6eff3e"><span>Green</span><i></i></a>
        </div> -->
           
      <div class="row">
        <div class="col-md-3" >
        <div class="countainer">
          <div class="container">
            <div class="box">
                <div class="content">
                    <!-- <h2>01</h2> -->
                    <h3> Hi I'm Dhaval </h3>
                    <p> I build new projects in python I love coding  </p>
                    <a href="#" style="--clr:#000000"><span>See My Project</span><i></i></a>
                </div>
            </div>
          </div>  
        </div>
    </div>



    <section>
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="imgBox">
              <img src="./img1.jpg" alt=""/>
            </div>
            <div class="contentBox">
              <h3>
                Jarvis <br />
                <span> In This Project I Make An AI Talk To People</span>
              </h3>
            </div>
            <a href="/jarvis" style="--clr:#ffffff"><span>Open</span><i></i></a>
          </div>
        </div>

        <div class="card">
          <div class="content">
            <div class="imgBox">
              <img src="./img2.jpg" alt="" />
            </div>
            <div class="contentBox">
              <h3>
                Machine Learning ChatBot <br />
                <span> A ChatBot Chat's With You | Work In Progress.... </span>
              </h3>
            </div>
            <a href="#" style="--clr:#ffffff"><span>Open</span><i></i></a>
          </div>
        </div>

        <div class="card">
            <div class="content">
              <div class="imgBox">
                <img src="./img2.jpg" alt="" />
              </div>
              <div class="contentBox">
                <h3>
                    Lord Ganpati Drawing <br />
                  <span> In This Project I Drawing Lord Ganpati Bappa Using Turtle Graphics </span>
                </h3>
              </div>
              <a href="/drawing" target="_blank" style="--clr:#ffffff"><span>Open</span><i></i></a>
            </div>
        </div>

        <div class="card">
          <div class="content">
            <div class="imgBox">
              <img src="./img3.jpg" alt="" />
            </div>
            <div class="contentBox">
              <h3>
                Weather App <br />
                <span> I Make An Weather App In Python Using API </span>
              </h3>
            </div>
            <a href="/weather" style="--clr:#ffffff"><span>Open</span><i></i></a>
      </div>
    </section>
    <script src="{% static "css/vanilla-tilt.min.js" %}"></script>
    <script>
      VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 15,
        speed: 400,
        glare: true,
        "max-glare": 1,
      });
    </script>

{% endblock%}